<%- include("partials/head.ejs") %>
<%- include("partials/headers.ejs") %>

<link rel="stylesheet" href="/styles/main.css">
    
<h2>Search Results</h2>

<% if (books && books.length > 0) { %>
    <body>
        <div class="book-container">
            <% books.forEach(book => { %>
                
                <div class="book-tile">
                    <a href="<%= book.volumeInfo?.infoLink %>" target="_blank" class="book-link">
                        <img src="<%= book.volumeInfo?.imageLinks?.smallThumbnail%>" alt="Book Cover" class="book-image">
                    </a>
                        <strong><p><%= book.volumeInfo.title %></p></strong> <p><%= book.volumeInfo.authors[0] %></p>
                </div>
            <% }); %>
        </div>
    </body>
<% } else { %>
    <p>No results found.</p>
<% } %>